doctype html
html.wf-brandongrotesque-n9-active.wf-active(lang='en')
  head
    title
      | PocketCollege
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/w3.css', type='text/css')
    link(href='/stylesheets/cssfile.css', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='/javascripts/jquerymin.js')
    script(type='text/javascript', src='/javascripts/bootstrapmin.js')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/stylesheets/css.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/css(1).css', rel='stylesheet', type='text/css')
    script(src='/javascripts/analytics.js')
    script(src='/javascripts/rqz8pjw.js')
    style(type='text/css').
      .tk-brandon-grotesque{
      font-family:"brandon-grotesque",
      sans-serif;
      }
    style(type='text/css').
      @font-face{
      font-family:tk-brandon-grotesque-n9;
      src:
      url(https://use.typekit.net/af/6dab55/0000000000000000000132e5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3)format("woff2"),
      url(https://use.typekit.net/af/6dab55/0000000000000000000132e5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3) format("woff"),
      url(https://use.typekit.net/af/6dab55/0000000000000000000132e5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3) format("opentype");
      font-weight:900;
      font-style:normal;
      }
    script.
      try{
      Typekit.load({ async: true });
      }catch(e){}
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src="/javascripts/colorfulBall.js")
    style(type='text/css').
      @font-face{
      font-family:brandon-grotesque;
      src:
      url(https://use.typekit.net/af/6dab55/0000000000000000000132e5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3) format("woff2"),
      url(https://use.typekit.net/af/6dab55/0000000000000000000132e5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3) format("woff"),
      url(https://use.typekit.net/af/6dab55/0000000000000000000132e5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3) format("opentype");
      font-weight:900;
      font-style:normal;}
  body.loaded
    // Canvas here
    //canvas#tutorial(width='1400', height='1600', style='position:absolute; z-index: 2')
    // canvas ends
    #mySidebar.w3-sidebar.w3-animate-left(style='display:none;z-index:2;width:20%;min-width:300px')
      button.w3-bar-item.w3-button.w3-large(style='font-size: 40px;', onclick='w3_close()') &times
      form#form_student_register(name="login", align="center", method="post", action="/checkuser")
        h2.login1.w3-padding(style='font-size: 40px')
          | Log In
        p.login2.w3-padding
          | Email: 
          br
          input(type='text', name='email', placeholder='Email')
        p.w3-padding
          | Password:
          br
          input(type='password', name='password', placeholder='Password')
        br
        p(align='center')
          button.submit_btn(type="submit") 
            img(src='/images/submitbutton.png')
      
      p.login4.w3-padding(align='center', style='font-size: 20px')
        | Didn't Register? 
        br
        a(href='/signup' style='text-decoration: underline') Sign Up!
      br
      br
      
      
      form(name="searchuser", align="center", method="post", action="/searchuser_process")
        h2.login1.w3-padding(style='font-size: 40px')
          | Search Users
        p.login2.w3-padding
          input(type='text', name='searchuser', placeholder='Enter Email here')
          br
          button.submit_btn(type="submit") 
            img(src='/images/searchbtn.jpeg')




    script.
      function w3_open() {
      document.getElementById("main").style.marginLeft = "25%";
      document.getElementById("mySidebar").style.width = "25%";
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("openNav").style.display = 'none';
      }
      function w3_close() {
      document.getElementById("main").style.marginLeft = "0%";
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("openNav").style.display = "inline-block";
      }
    #main.w3-main
      .w3-black
        button.w3-button.w3-black.w3-xlarge(onclick='w3_open()') ☰
        //
          <div class="w3-container">
          <h1>My Page</h1>
          </div>
    .mobile-overflow
      header#site-header.site-header.js-app-header
        .site-header__menu(style='position: fixed; top: 0px; left: 0px; right: 0px; overflow: hidden; height: 73px;')
          .midnightHeader.default(style='position: absolute; overflow: hidden; top: 0px; left: 0px; right: 0px; bottom: 0px; transform: translateY(0%) translateZ(0px);')
            .midnightInner(style='position: absolute; overflow: auto; top: 0px; left: 0px; right: 0px; bottom: 0px; transform: translateY(0%) translateZ(0px);')
          .midnightHeader.white(style='position: absolute; overflow: hidden; top: 0px; left: 0px; right: 0px; bottom: 0px; transform: translateY(110%) translateZ(0px);')
            .midnightInner(style='position: absolute; overflow: auto; top: 0px; left: 0px; right: 0px; bottom: 0px; transform: translateY(-110%) translateZ(0px);')
      main#site-container.site-container(role='main')
        #action.actions-section.hiding-canvas(data-midnight='white')
          .container.container--large
            //
              <h2 class="title animate-scroll header1" data-animate-scroll="" style="font-size: 100px;">
              PocketCollege
              </h2>
            center
              img(src='/images/homepage_logo.png', alt='???', height='300px', width='717px')
            br
            br
            br
            // FILTERS
            .filters
              ul.filters__list
                li#citizen.filters__item.animate-scroll(data-animate-scroll='', style='font-size: 28px;')
                  a.filters__linka(href='/timeline')
                    | Timeline
                li#public_actor.filters__item.animate-scroll(data-animate-scroll='', style='font-size: 28px;')
                  a.filters__linka(href='/collegeinfo')
                    | College Information
                li.filters__item.animate-scroll(data-animate-scroll='', style='font-size: 28px;')
                  a.filters__linka(href='/bbs')
                    | BBS
            // FILTERS
            #js-actions
              // ACTIONS
              .actions
                .action.animate-scroll(data-animate-scroll='')
                  h2.action__title
                    a(style='font-size: 30px;', href='')
                      | About Us
                  .action__hover
                    .action__img
                      img(src='/images/aboutus.jpg', alt='aboutus')
                    .action__parag
                      p
                        | We are Alex Zhao, from SIP Xinghai Expreimental Middle School and Kevin Peng, from High School Affiliated to Renmin University of China. 
                        span.quote „
                .action.animate-scroll(data-animate-scroll='')
                  h2.action__title
                    a(style='font-size: 30px;', href='')
                      | Our Goal
                  .action__hover
                    .action__img
                      img(src='/images/ourgoal.jpg', alt='ourgoal')
                    .action__parag
                      p
                        | This website dedicates to providing information for students who are willing to spend their most precious 4 years on colleges in the United States. 
                        span.quote „
                .action.animate-scroll(data-animate-scroll='')
                  h2.action__title
                    a(style='font-size: 30px;', href='')
                      | Contact Us
                  .action__hover
                    .action__img
                      img(src='/images/contactus.jpg', alt='contactus', width='256px', height='256px')
                    .action__parag
                      p
                        | Kevin Peng -- WeChat: p2909709 / Email: 675083398@qq.com
                        br
                        | Alex Zhao -- QQ: 1467222535 / Email: alexzhaojc@126.com
                        span.quote „
                .action.animate-scroll(data-animate-scroll='')
                  h2.action__title
                    a(href='', style='font-size: 0px;')
                  .action__hover
                    .action__img
                      img(src='/images/aboutus.jpg', alt='link3')
                    .action__parag
                      p
                .action(data-animate-scroll='')
                  h2.action__title
                    a(href='', style='font-size: 0px;')
                  .action__hover
                    .action__img
                      img(src='/images/aboutus.jpg', alt='link3')
                    .action__parag
                      p
                        br
    .transitions-section
    script(type='application/javascript', src='/javascripts/main.js')
    script.
      (function(b,o,i,l,e,r)
      {
      b.GoogleAnalyticsObject=l;
      b[l]||(b[l]=function()
      {
      (b[l].q=b[l].q||[]).push(arguments)
      });
      b[l].l=+new Date;
      e=o.createElement(i);
      r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)
      }(window,document,'script','ga')
      );
      ga('create','UA-156014-40','auto');
      ga('send','pageview');
