doctype html
html
  title PocketCollege-ModifyCollegeInfo
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', type='text/css', href='/stylesheets/w3-original.css')
  link(rel='stylesheet', type='text/css', href='/stylesheets/google-font-karma.css')
  link(rel='stylesheet', type='text/css', href='/stylesheets/cssfile.css')
  link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrapmin.css')
  style.
    body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
    .w3-bar-block .w3-bar-item {padding:20px}
  body
    // Sidebar (hidden by default)
    nav#mySidebar.w3-sidebar.w3-bar-block.w3-card-2.w3-top.w3-xlarge.w3-animate-left(style='display:none;z-index:2;width:20%;min-width:300px;position: absolute; z-index: 6')
      a.w3-bar-item.w3-button(href='javascript:void(0)', style='text-decoration: none; font-size:40px;', onclick='w3_close()') &times
      a.w3-bar-item.w3-button(href='/adminpage', style='text-decoration: none;', onclick='w3_close()') Admin Homepage
      a.w3-bar-item.w3-button(href='/userlist', style='text-decoration: none;', onclick='w3_close()') Users' Accounts
      a.w3-bar-item.w3-button(href='/managecollege', style='text-decoration: none;', onclick='w3_close()') Add/Delete Colleges
    .w3-top(style='background-color:#cccccc')
      .w3-xlarge(style='max-width:1200px;margin:auto')
        .w3-button.w3-padding-32.w3-left(onclick='w3_open()') ☰
        .w3-right.w3-padding-32 Admin Managment
        .w3-center.w3-padding-16
          a(href='/adminpage')
            img(src='/images/College_info_homepage/logoblack.png', alt='Logo', style='width:150px; height:60px')
    // Top menu
    .w3-top(style='background-color:#cccccc')
      .w3-xlarge(style='max-width:1200px;margin:auto')
        .w3-button.w3-padding-32.w3-left(onclick='w3_open()') ☰
        .w3-right.w3-padding-32 Modify College Information
        .w3-center.w3-padding-16
          a(href='/adminpage')
            img(src='/images/College_info_homepage/logoblack.png', alt='Logo', style='width:150px; height:60px')
        // <div class=" w3-right w3-padding-16">College Information</div>
    br
    br
    br
    br
    div(style='background-color: darkgrey')
      br
      br
      br
      br
      p(style='font-size:36px ;padding-left:10%') Modify College Information
      div(style='margin-left: 10%;margin-right:10%;background-color: lightgrey')
        br
        br
        form(name='user_edit_info',align="center", method="post", action='/modifycollege_process?originalname='+mycollege.name+'&viewcount='+mycollege.viewcount)
          p(style='font-size: 20px;')
            | Name: 
            br
            input(type='text', name='name', value="#{mycollege.name}", style='width: 618px; text-align: center')
            br
          p(style='font-size: 20px;')
            | Title: 
            br
            input(type='text', name='title', value="#{mycollege.title}", style='width: 618px; text-align: center')
            br
          p(style='font-size: 20px;')
            | Description:
            br
            input(type='text', name='des', value="#{mycollege.description}", style='width: 618px; text-align: center')
            br
          p(style='font-size: 20px;')
            | Image URL:
            br
            input(type='text', name='img_src', value="#{mycollege.img_src}", style='width: 618px; text-align: center')
            br
          p(style='font-size: 20px;')
            | Detail Information:
            br
            input(type='text', name='link', value="#{mycollege.link}", style='width: 618px; text-align: center')
            br
          button.btn.btn-primary.btn-lg.btn-block(type='submit') Submit
      
        br
        br
        form(name='user_edit_info',align="center", method="post", action='/deletecollege_process')
          p(style='font-size: 20px;')
            | Name: 
            br
            input(type='text', name='del_name', value="#{mycollege.name}", style='width: 618px; text-align: center')
            br         
          button.btn.btn-primary.btn-lg.btn-block(type='submit') Delete

      // End page content
    script.
      // Script to open and close sidebar
      function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      }
      function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      }
