doctype html
html
  title PocketCollege-EditProfile
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Karma')
  link(rel='stylesheet', type='text/css', href='cssfile.css')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  style.
    body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
    .w3-bar-block .w3-bar-item {padding:20px}
  body
    // Sidebar (hidden by default)
    nav#mySidebar.w3-sidebar.w3-bar-block.w3-card-2.w3-top.w3-xlarge.w3-animate-left(style='display:none;z-index:2;width:20%;min-width:300px')
      a.w3-bar-item.w3-button(href='javascript:void(0)', style='text-decoration:none; font-size:40px;', onclick='w3_close()') &times
      a.w3-bar-item.w3-button(href='/contentpage', style='text-decoration:none', onclick='w3_close()') PocketCollege
      a.w3-bar-item.w3-button(href='/timeline', style='text-decoration:none', onclick='w3_close()') Timeline
      a.w3-bar-item.w3-button(href='/bbs', style='text-decoration:none', onclick='w3_close()') BBS
    // Top menu
    .w3-top(style='background-color:#cccccc')
      .w3-xlarge(style='max-width:1200px;margin:auto')
        .w3-button.w3-padding-32.w3-left(onclick='w3_open()') ☰
        .w3-right.w3-padding-32 Edit My Profile
        .w3-center.w3-padding-16
          a(href='/contentpage')
            img(src='/images/College_info_homepage/logoblack.png', alt='Logo', style='width:150px; height:60px')
        // <div class=" w3-right w3-padding-16">College Information</div>
    br
    br
    br
    br
    div(style='background-color: darkgrey')
      br
      br
      br
      br
      p(style='font-size:36px ;padding-left:10%') Account : #{users[0].email}
      div(style='margin-left: 10%;margin-right:10%;background-color: lightgrey')
        br
        br
        form(name='user_edit_info',align="center", method="post", action='/userprofile_process')
          p
            | User Name: 
            br
            input(type='text', name='username', value="#{users[0].username}")
            br
          p
            | First Name: 
            br
            input(type='text', name='fn', value="#{users[0].firstname}")
            br
          p
            | Last Name:
            br
            input(type='text', name='ln', value="#{users[0].lastname}")
            br
          p
            | Current Grade
            br
            select(name='grade')

              - if(users[0].grade==='<9'){
                  option(value='<9', selected)  <9
              - }
              - else{
                  option(value='<9')  <9
              - }

              - if(users[0].grade==='9'){
                  option(value='9', selected)  9
              - }
              - else{
                  option(value='9')  9
              - }

              - if(users[0].grade==='10'){
                  option(value='10', selected)  10
              - }
              - else{
                  option(value='10')  10
              - } 
              
              - if(users[0].grade==='11'){
                  option(value='11', selected)  11
              - }
              - else{
                  option(value='11')  11
              - }

              - if(users[0].grade==='12'){
                  option(value='12', selected)  12
              - }
              - else{
                  option(value='12')  12
              - }

              - if(users[0].grade==='>12'){
                  option(value='>12', selected)  >12
              - }
              - else{
                  option(value='>12')  >12
              - }

            br

          p
            | Reset Password:
            br
            input(type='password', name='password', value="", placeholder='(if necessary)')
            br
          p
            | Gender:
            br
            select(name='gender')

              - if(users[0].gender==='M'){
                  option(value='M', selected)  Male
              - }
              - else{
                  option(value='M')  Male
              - }

              - if(users[0].gender==='F'){
                  option(value='F', selected)  Female
              - }
              - else{
                  option(value='F')  Female
              - }

              - if(users[0].gender==='others'){
                  option(value='others', selected)  Others
              - }
              - else{
                  option(value='others')  Others
              - }
            br 
          
          p
            | Country:
            br
            input(typt='text', name='country', value='#{users[0].country}')
            br
          
          p
            | State:
            br
            input(typt='text', name='state', value='#{users[0].state}')
            br

          p
            | Make my Profile & Timeline PUBLIC:
            br
            select(name='public')

              - if(users[0].public==='Y'){
                  option(value='Y', selected)  YES
              - }
              - else{
                  option(value='Y')  YES
              - }

              - if(users[0].public==='N'){
                  option(value='N', selected)  NO
              - }
              - else{
                  option(value='N')  NO
              - }
            br
            br
            br
            br
          button.btn.btn-primary.btn-lg.btn-block(type='submit') Submit
      br
      br
      br
      br
      // End page content
    script.
      // Script to open and close sidebar
      function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      }
      function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      }
